*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #151515;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 40px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 1em;
}

.nav-links a {
    color: #090909;
    text-decoration: none;
}

.main-blog {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('images/main-blog-img.png');
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 4em 1em 1em;
}

.container {
    width: 90%;
    max-width: 900px;
    padding-top: 1.5em;
    margin: 0 auto;
}

/* CSS Grid Magic */
.posts {
    display: grid;
    gap: 1em;  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

article {
    margin-bottom: 1em;
}

img {
    width: 100%;
}

.article-info {
    text-transform: uppercase;
}

.article-img {
    margin-bottom: 1em;
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5em 0 0.35em 0;
}

.article-preview {
    margin-top: 0;
}

p {
    line-height: 1.3;
}

