*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #151515;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    padding-top: 1.5em;
    margin: 0 auto;
}

/* CSS Grid Magic */
.posts {
    display: grid;
    gap: 1em;  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

article {
    margin-bottom: 1em;
}

img {
    width: 100%;
}

.article-info {
    text-transform: uppercase;
}

.article-img {
    margin-bottom: 1em;
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5em 0 0.35em 0;
}

.article-preview {
    margin-top: 0;
}

p {
    line-height: 1.3;
}

